* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background: url('https://th.bing.com/th/id/R.f8d280ac72536006395b1b92203bf999?rik=Vx58HaP%2fFDIhQA&pid=ImgRaw&r=0') no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    cursor: pointer;
}

.tarefa-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}